[Desktop Entry]
Version=1.0
Type=Application
Name=Texte
Comment=Editeur de texte
Exec=libreoffice --writer
Icon=/home/fabrice/.icons/SimpleOs-0.1.1/hicolor/scalable/apps/writer.svg
Path=
Terminal=false
StartupNotify=false
