[Desktop Entry]
Version=1.0
Type=Application
Name=image
Comment=
Exec=gthumb
Icon=/home/fabrice/.icons/SimpleOs-0.1.1/hicolor/scalable/apps/image.svg
Path=
Terminal=false
StartupNotify=false
