[Desktop Entry]
Version=1.0
Type=Application
Name=video
Comment=
Exec=parole
Icon=/home/fabrice/.icons/SimpleOs-0.1.1/hicolor/scalable/apps/video.svg
Path=
Terminal=false
StartupNotify=false
