[Desktop Entry]
X-SnapInstanceName=thunderbird
Name=Thunderbird Mail
Name[fr]=Social
Comment=Send and receive mail with Thunderbird
Comment[fr]=Lire et écrire des courriels
GenericName=Mail Client
GenericName[fr]=Client de messagerie
Keywords=Email;E-mail;Newsgroup;Feed;RSS
Keywords[fr]=Mails;Mels;E-Mails;Emails;Courriels;Courriers;Newsgroup;Feed;RSS;Poster;Thunderbird;Lire;Écrire
X-SnapAppName=thunderbird
Exec=ferdnium
Terminal=false
Type=Application
Icon=/home/fabrice/.icons/SimpleOs-0.1.1/hicolor/scalable/apps/social.svg
Categories=Application;Network;Email;
MimeType=x-scheme-handler/mailto;application/x-xpinstall;x-scheme-handler/webcal;x-scheme-handler/mid;message/rfc822;text/calendar;text/vcard;text/x-vcard;
StartupNotify=true
Actions=Compose;Contacts
X-XFCE-Source=file:///var/lib/snapd/desktop/applications/thunderbird_thunderbird.desktop
Path=

[Desktop Action Compose]
Name=Compose New Message
Name[fr]=Rédiger un nouveau courriel
X-SnapAppName=thunderbird
Exec=/snap/bin/thunderbird -compose
OnlyShowIn=Messaging Menu;Unity;

[Desktop Action Contacts]
Name=Contacts
Name[fr]=Carnet d'adresses
X-SnapAppName=thunderbird
Exec=/snap/bin/thunderbird -addressbook
OnlyShowIn=Messaging Menu;Unity;
